#treeNumber {
  font-family: 'Roboto', sans-serif;
  font-size: 4.5em;
  margin: 0 5%;
}

.treeSpecies-height {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 5% 0 2% 0;
  position: absolute;
  top: 220px;
  left: 0;
}

#treeSpecies, #treeHeight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 3%;
}

#treeSpecies label {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
  width: 30%;
}

#treeHeight label {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
  width: 40%;
}

#treeHeight input {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
  width: 50%;
  line-height: 1.5em;
  padding: 2% 3% 2% 4%;
  margin: 2% 3% 2% 4%;
  background-color: #d3d3d3;
}

#treeSpecies select {
  font-family: 'Roboto', sans-serif;
  font-size: 3.2em;
  line-height: 1.5em;
  padding: 2% 3% 2% 4%;
  margin-right: 30%;
  background-color: #d3d3d3;
}

.treeDBH {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 520px;
  left: 0;
}

#treeBDH-header {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
  text-transform: uppercase;
}

.branch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 3%;
}

.branch label {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
  text-align: center;
}

.branch input {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
  width: 50%;
  line-height: 1.5em;
  padding: 2% 3% 2% 4%;
  margin: 1% 3% 1% 4%;
  background-color: #d3d3d3;
}

#addBranch {
  width: 15%;
}

.treeOptions {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.treeOptions > img {
  border-radius: 50%;
  margin: 3em 0;
}
