#boxplot {
  width: 65%;
  margin: 5%;
}

.siteStatOverview {
  position: absolute;
  top: 200px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.siteStat {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statBox {
  width: 80%;
  height: 6em;
}

.statBox > label {
  font-size: 3.5em;
  font-family: 'Roboto Condensed', sans-serif;
  margin-right: 1em;
}

.statBox > input {
  font-size: 3.5em;
  width: 50%;
  font-family: 'Roboto Slab', sans-serif;
}
