#boxplot {
  width: 65%;
  margin: 5%;
}

.siteStatOverview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.siteStat {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statBox {
  width: 80%;
  height: 5em;
}

.statBox > label {
  font-size: 3.5em;
}

.statBox > input {
  font-size: 3.5em;
  width: 50%;
}
