* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.fa-cog {
  position: absolute;
  top: 30px;
  right: 30px;
}

#queenslandGov {
  display: flex;
  width: 40%;
  margin: 30% 0 20px 0;
}

#appTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  margin-bottom: 10px;
}

#client {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
    margin: 0;
}

#loginButton {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  font-size: 3.5em;
  padding: 20px 40px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: lightgray;
}

.keys {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 100px;
  padding: 0;
  margin: 80px 0;
}

.keyBox {
  width: 110px;
  height: 110px;
  border: 1px solid gray;
  background-color: lightgray;
  font-size: 5em;
  text-align: center;
  line-height: 1.7em;
}

.numericPad {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.number {
  font-size: 3em;
  margin: 0;
  padding: 20px 40px;
  width: 33%;
  height: 25%;
  text-align: center;
  vertical-align: middle;
  line-height: 2.3em;
  border: 1px solid gray;
}

.number:hover {
  background-color: lightgray;
}

#map {
  width: 100vw;
  height: 100vh;
}

.search-form {
  width: 80%;
}

.suggestions {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 80%;
}

.suggestions li {
  background: white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  font-size: 2.8em;
}

.hl {
  background: lightgray;
}

.searchBar {
  position: absolute;
  top: 40px;
  left: 2.5%;
  width: 95%;
  height: 110px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
  z-index: 9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fa-microphone {
  margin: 10px 20px;
}

.fa-chevron-left {
  margin: 10px 30px;
}

#searchArea {
  font-family: 'Roboto', sans-serif;
  font-size: 2.8em;
  font-weight: lighter;
  width: 100%;
  height: 100px;
}

.currentLocation {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  bottom: 90px;
  right: 60px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
  z-index: 9;
}

#locationIcon {
  display: block;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 3em;
}

.siteContent {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.siteInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.site {
  width: 90%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.site:before {
  content: "\273F";
  font-size: 15em;
}

#siteNumber {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 5em;
}

#siteLocation {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
}

.siteButton {
  display: block;
  width: 100%;
  margin: 10% 0;
  font-size: 3.5em;
  padding: 20px 40px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: lightgray;
}

.siteSpecifications {
  width: 100%;
  height: 85%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.siteSpecifications label {
  font-size: 3em;
}

.siteSize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#siteDimensions {
  font-size: 4em;
  padding: 5% 0 0 0;
}

.siteLWS {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5% 0 10% 0;
}

.siteLWS input {
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  width: 25%;
  text-align: center;
  background-color: #d3d3d3;
}

.siteOptionList {
  display: flex;
  flex-direction: column;
}

.siteSpecies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5% 40px;
}

.species {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
  line-height: 1.5em;
  width: 70%;
  padding: 2% 3% 2% 4%;
  background-color: #d3d3d3;
}

.siteThreshold {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5% 40px;
}

.threshold {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
  line-height: 1.5em;
  width: 70%;
  padding: 2% 3% 2% 4%;
  background-color: #d3d3d3;
}

.recorder {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
  line-height: 1.5em;
  width: 70%;
  padding: 2% 3% 2% 4%;
  background-color: #d3d3d3;
}

.siteRecorder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5% 40px;
}

.siteDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5% 40px;
}

.date {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
  line-height: 1.5em;
  width: 70%;
  padding: 2% 3% 2% 4%;
  background-color: #d3d3d3;
}

.site-confirm-cancel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20% 2% 0 2%;
}

.site-cc {
  display: block;
  width: 40%;
  font-size: 3.5em;
  padding: 20px 40px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: lightgray;
}

.siteSizeBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#siteLength, #siteWidth, #siteSection {
  width: 80%;
  line-height: 1.5em;
  margin-bottom: 20px;
}
