.counterClicker {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3.5em;
}

#counterDisplay {
  width: 80%;
  height: 10em;
  font-family: 'Roboto Slab', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counterControls {
  width: 80%;
  height: 10em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.minus, .plus {
  color: white;
  display: block;
  font-size: 1.5em;
  font-weight: lighter;
  width: 2.1em;
  height: 2.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 12px 16px rgba(0,0,0,0.2), 0 -1px 10px rgba(0,0,0,0.02);
}

.plus {
  background-color: #0BA900;
}

.minus {
  background-color: #e20404;
}

.counterButtons {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 3em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.counterButtons > button {
  display: block;
  min-width: -webkit-min-content;
  font-size: 3.5em;
  padding: 20px 40px;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  letter-spacing: 0.09em;
  border-radius: 0.2em;
  background-color: #0BA900;
  box-shadow: 0px 12px 16px rgba(0,0,0,0.2), 0 -1px 10px rgba(0,0,0,0.02);
}
